{extend name='base'/}
{block name='content'}
<main class="col-md-8">
    {foreach name='articleData' item='v'}
    <article>
        <div class="_head">
            <h1>{$v['title']}</h1>
            <span>
								作者：
								{$v['author']}
								</span>
            •
            <!--pubdate表⽰示发布⽇日期-->
            <time pubdate="pubdate" datetime="2017-1-1">{:date('20y年m月d日',$v['sendtime'])}</time>
            •
            分类：
            <a href="{:url('index/lists/index',['cate_id'=>$v['category_id']])}">{$v['name']}</a>
        </div>
        <div class="_digest">
            <img src="{$v['preview']}"  class="img-responsive"/>
            <p>
                {$v['abstract']}
            </p>
        </div>
        <div class="_more">
            <a href="{:url('index/content/index',['arc_id'=>$v['id']])}" class="btn btn-default">阅读全文</a>
        </div>
        <div class="_footer">
            <i class="glyphicon glyphicon-tags"></i>
            {foreach name="v['tags']" item='vo'}
            <a href="{:url('index/lists/index',['tag_id'=>$vo['id']])}">{$vo['name']}</a>
            {/foreach}
        </div>
    </article>
    {/foreach}

</main>
{/block}