{extend name='base'/}
{block name='content'}
<style>
    .nav-tabs li.active a{
        border: 1px solid #428bca !important;
        background-color: #428bca !important;
        color: #ffffff;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">标签管理</h3>
    </div>
    <div class="panel-body">
        <!-- TAB NAVIGATION -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="javascript:;">编辑</a></li>
        </ul>
        <form action="" method="post" class="form-horizontal" style="margin-top: 10px;" role="form">
            <div class="form-group">
                <label for="inputID" class="col-sm-2 control-label">标签名称:</label>
                <div class="col-sm-10">
                    <input type="text" name="name" id="inputID" class="form-control" value="{$data['name']}" title="">
                </div>
            </div>
            <input type="hidden" name="id" value="{:input('param.id')}}"/>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">更新</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}